@font-face{
    /* font-family: "CCVengeanceIsMineBody";
    src: url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.eot");
    src: url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/297b9df3e309c6dcddfe08041bd80842.svg#CCVengeanceIsMineBody")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap; */

    font-family: "longshot";
    src: url("/assets/Long_Shot.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'rabikiso', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8edf1;
  padding: 0;
  margin: 0;
  position: relative;
  width: 65%;
  margin: auto;
}

@media(max-width: 1024px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    body {
    width: 90%;
  }
}

@media (max-width: 1023px) {
  .topcont {
    display: none;
  }
  div#fixed-topbar {
    position: sticky;
    top: 0px;
    z-index: 2;
}

#navShadow {
  padding-top: 15px;
  padding-bottom: 15px;
}
}

#anime-book-font {
  font-family: 'longshot', 'rabikiso';
}

#anime-book-font-v0 {
  font-family: 'CCVengeanceIsMineBody', 'rabikiso';
}

#navShadow {
  box-shadow: 0 -4px 10px -5px rgba(0, 0, 0, 0.5);
}


#navShadow2 {
  box-shadow: 0 -4px 10px -5px rgba(0, 0, 0, 0.5);
}
#blurry-background{
  filter: blur(28px);
}
#storyShadow{
  box-shadow: 0 -4px 10px -5px rgba(0, 0, 0, 0.5);
  filter: blur(8px);
  background-color: black;
}

#modal {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

#tip-modal {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}
#tip-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 15, 0.356);
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* pointer-events: none; */
}

#modal-in-middle{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  opacity: 1;
}

#transparent-overlay, #overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(108, 113, 116, 0.356);
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* pointer-events: none; */
}
#transparent-overlay{
  background-color: transparent;
}

#modal-visible {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

#manga-overlay, #stories-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#manga-modal{
  position: fixed;
  max-height: 90%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  opacity: 1;
  overflow: scroll;
  transition: opacity 2.5s ease-in;
}
#invisible {
  position: absolute;
  background: black;
  top: 0%;
  left: 0%;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
#ima {
  height: fit-content;
}

#stories {
  min-width: 4.5rem;
}

#stories-container {
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

#stories-modal, #explorer-modal {
  position: fixed;
  max-height: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  opacity: 1;
  overflow: scroll;
  transition: opacity 0.7s ease-in;
  max-width: 100%;
}
#stories-cancel{
  position: fixed;  
  top: 0%;
  left: 94%;
  transform: translate(-50%, 0%);
  z-index: 10;
  transition: opacity 0.7s ease-in;
}

#explorer-modal{
  transition: opacity 0.1s ease-in;
}
#stories-upload{
  position: fixed;  
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  width: 100%;
}

#comments{
  width: 800px;
  margin: auto;
  position: sticky;
  max-height: 60vh;
  bottom: 0;
  /* left: 100%; */
  /* transform: translate(-50%, 0%); */
  z-index: 10;
  opacity: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: opacity 0.7s ease-in;
  max-width: 100%;
  box-shadow: 0 -4px 20px 20px rgba(0, 0, 0, 0.166);
}

#post-actions{
  z-index: 10;
}

#left-controller{
  position: fixed;  
  left: 2%;
  z-index: 10;
  transition: opacity 0.7s ease-in;
}
#right-controller{
  position: fixed;  
  right: 2%;
  z-index: 10;
  transition: opacity 0.7s ease-in;
}
#user-profile{
  position: fixed; 
  top: 2%;
  left: 2%;
  z-index: 10;
}

#heart-animation{
  position: fixed; 
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  transition: opacity 0.7s ease-in;
}
#unheart-animation{
  position: fixed; 
  top: 37%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  transition: opacity 0.7s ease-in;
}

#Layer_1{
  position: fixed; 
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  transform: rotate(0, 360);
  z-index: 10;
  transition: opacity 0.7s ease-in;
}

#mobile-suggests{
  position: absolute; 
  background: white;
  top: 100%;
  z-index: 10;
  width: 50%;
}

#clear-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

span.text-textGreen:hover {
    cursor: pointer;
}

.heighto {
  height: 100vh;
}

.sticko{

}

.lg\:mt-20 {
margin-top: 0.5rem !important;
}

.topcont{
  background-color: #e8edf1;
  position: sticky;
  top: 0rem;
  padding-top: 0.5rem;
  border-radius: 0 0 0.75rem 0.75rem;
  z-index: 2;

}

.top-20 {
  top: 0.5rem !important;
}

.pb-22 {
  padding-bottom: 1rem;
}

.pint {
      display: inline-block;
      margin-bottom: 20px; /* Space between items */
      width: 100%;
      background-color: #f0f0f0;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.h-auto {
  height: auto;
}

img {
  max-width: 100%;
  height: 100%;
}
#sidebar{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
  background-color: white;
  height: 100%;
  width: 85%;
}

#sidebar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 15, 0.772);
}